.n-wrapper {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-top: 8px;
    top: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 40px;

}

.n-left {
    flex: 1;
    align-items: center;
    justify-content: left;
    display: flex;
    gap: 2rem;
    margin-left: 20px;
    color:rgb(0, 0, 0);

}



.n-name {
  
    font-size: 2rem;
    font-weight: bold;
    padding-right: 40px;
    
}



.n-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    color:rgb(0, 0, 0) ;


}


.n-list {
    flex: 10;

}

.n-list>ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}

.n-list>ul :hover {
    color: var(--hovertext);
    cursor: pointer;
}

.n-list>ul li {
    transition: all 0.3s ease;
    position: relative;
}

.n-list>ul li:hover {
    font-size: 1.2rem;

}

.n-list>ul li:not(:hover) {
    opacity: 0.8;
 
    transition: all 0.3s ease;
}

.n-list>ul li::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--hovertext);
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
}

.n-list>ul li:hover::before {
    opacity: 1;
    width: 100%;
}

.n-button {
    flex: 2;
    margin-right: 20px;
}


@media screen and (max-width: 480px) {
    .n-list {
        display: none;
    }
}